<section id="login">
    <div class="color">
        <div class="login-form">
            <h1>Login</h1>
            <form id="form">
                <label for="username">Username</label>
                <input type="text" name="username">

                <label for="password">Password</label>
                <input type="password" name="password">

                <button>Login</button>
                <a href="#" class="option">Don't have an account?</a>
            </form>
        </div>
    </div>
</section>