<section id="create">
    <div class="color">
        <div class="create-form">
            <h1>Create Offer</h1>
            <form id="form">
                <label for="brandAndModel">Brand & Model</label>
                <input type="text" name="brandAndModel">

                <label for="year">Year</label>
                <input type="text" name="year">

                <label for="body">Body Type</label>
                <select name="body">
                    <option value="" disabled selected>Select</option>
                    <option value="sedan">Sedan</option>
                    <option value="coupe">Coupe</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="stationWagon">Station Wagon</option>
                    <option value="convertible">Convertible</option>
                    <option value="suv">SUV</option>
                    <option value="pickup">Pickup</option>
                    <option value="van">Van</option>
                </select>

                <label for="price">Price in EUR</label>
                <input type="text" name="price">

                <label for="transmission">Transmission</label>
                <select name="transmission">
                    <option value="" disabled selected>Select</option>
                    <option value="manual">Manual</option>
                    <option value="automatic">Automatic</option>
                </select>

                <label for="fuel">Fuel Type</label>
                <select name="fuel">
                    <option value="" disabled selected>Select</option>
                    <option value="gasoline">Gasoline</option>
                    <option value="diesel">Diesel</option>
                    <option value="compressedNaturalGas">Compressed Natural Gas</option>
                    <option value="electric">Electric</option>
                </select>


                <label for="horsepower">Horsepower</label>
                <input type="text" name="horsepower">

                <label for="distanceTraveled">Distance Traveled in KM</label>
                <input type="text" name="distanceTraveled">

                <label for="doors">Door Number</label>
                <select name="doors">
                    <option value="" disabled selected>Select</option>
                    <option value="2/3">2/3</option>
                    <option value="4/5">4/5</option>
                </select>

                <label for="location">Location</label>
                <input type="text" name="location">
                <button>Create Offer</button>
            </form>
        </div>
    </div>
</section>