<nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a routerLink="/" routerLinkActive="active" class="navbar-brand">
        CarHub
    </a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav w-100">
            <div *ngIf="isLoggedIn then userNav else guestNav"></div>
            <ng-template #guestNav>
                <li class="nav-item ml-auto" style="width: 70px">
                    <a routerLink="/login" routerLinkActive="active" class="btn btn-primary">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/register" routerLinkActive="active" class="btn btn-secondary">Register</a>
                </li>
            </ng-template>
            <ng-template #userNav>
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active" class="nav-link">Browse</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/create" routerLinkActive="active" class="nav-link">Create</a>
                </li>

                <li appDropdown class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" type="button" (click)="onLogout()">Logout</a>
                    </div>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>

<app-alert *ngIf="alert"></app-alert>
<app-loading *ngIf="isLoading"></app-loading>
