#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('https://www.wallpaperup.com/uploads/wallpapers/2018/01/06/1183815/9dbc82b10e770450afd4a054d26a004d.jpg');
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 30px;
  background: #fff;
  margin-bottom: 150px;
  border-radius: 5px;
}

.login-form label {
  margin: 10px 0;
}

.login-form h1 {
  font-size: 40px;
  padding: 10px 50px;
}

#login form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#login input[type="text"], #login input[type="password"] #login input[type="email"]{
  font-size: 18px;
  padding: 11px 20px;
  outline: none;
  border-width: medium;
  background: rgb(230, 230, 230);
  border-radius: 5px;
}

#login button {
  font-size: 18px;
  padding: 12px 10px;
  border: none;
  background: #007bff;
  color: #fff;
  margin-top: 30px;
}

#login button:hover {
  cursor: pointer;
}

.option {
  align-self: center;
  margin-top: 30px;
  text-decoration: none;
  color: #636e72;
}

.color {
  height: 100%;
  width: 100%;
  background: #2121218a;
  display: flex;
  justify-content: center;
  align-items: center;
}