<section id="register">
    <div class="color">
        <div class="register-form">
            <h1>Register</h1>
            <form id="form">
                <label for="username">Username</label>
                <input type="text" name="username">

                <label for="phoneNumber">Phone number</label>
                <input type="text" name="phoneNumber">

                <label for="password">Password</label>
                <input type="password" name="password">

                <label for="repeat-password">Repeat Password</label>
                <input type="password" name="repeatPassword">

                <button>Register</button>
                <a routerLink="/login" routerLinkActive="active" class="option">Already have an account?</a>
            </form>
        </div>
    </div>
</section>