<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <h1 class="my-4 text-center">{{offer.brandAndModel}}</h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" [src]="offer.image"
                alt="Car Image">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Car Description</h3>
            <p>{{offer.description}}</p>
            <h3 class="my-3">Car Details</h3>
            <ul>
                <li>Price: {{offer.price}} EUR</li>
                <li>Year: {{offer.year}}</li>
                <li>Body: {{offer.body}}</li>
                <li>Transmission: {{offer.transmission}}</li>
                <li>Fuel: {{offer.fuel}}</li>
                <li>Horsepower: {{offer.horsepower}} HP</li>
                <li>Distance traveled: {{offer.distanceTraveled}} KM</li>
                <li>Doors: {{offer.doors}}</li>
            </ul>
        </div>

        <div *ngIf="isCreator" class="col-md-8 text-right">
            <a class="btn btn-success btn-lg" routerLink="/offer/edit/{{offer.id}}" style="margin-top: 5px">Edit</a>
            <button (click)="onDelete()" class="btn btn-danger btn-lg" style="margin-left: 10px; margin-right: 15px; margin-top: 5px">Delete</button>
        </div>
    </div>
    <hr>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h2 class="my-4 text-center">Seller Info</h2>

    <div class="row">
        <div class="col-md-6 text-center">
            <h3>Phone:
                <hr>
                <a class="btn btn-info btn-lg" href="tel:{{offer.phone}}">{{offer.phone}}</a>
            </h3>
        </div>

        <div class="col-md-6 text-center">
            <h3>Location:
                <hr>
                <h4 class="btn btn-info btn-lg">{{offer.location}}</h4>
            </h3>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->